In [31]:
import pandas as pd
from catboost import CatBoostRegressor, Pool
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('../data/train.csv')

In [3]:
df.head()

  essay_id                                          full_text  score
0  000d118  Many people have car where they live. The thin...      3
1  000fe60  I am a scientist at NASA that is discussing th...      3
2  001ab80  People always wish they had the same technolog...      4
3  001bdc0  We all heard about Venus, the planet without a...      4
4  002ba53  Dear, State Senator\n\nThis is a letter to arg...      3

In [4]:
df.describe()

              score
count  17307.000000
mean       2.948402
std        1.044899
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        6.000000

In [26]:
X = df[[ 'full_text']]
y = df['score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
train_pool = Pool(
    data=X_train,
    label=y_train,
    text_features=['full_text']
)
test_pool = Pool(
    data=X_test,
    label=y_test,
    text_features=['full_text']
)
# Initialize and train the model
model = CatBoostRegressor(
    iterations=2000,
    learning_rate=0.1,
    depth=6,
    eval_metric='RMSE',
    verbose=100
)

model.fit(train_pool, eval_set=test_pool)

0:	learn: 1.0171652	test: 1.0253392	best: 1.0253392 (0)	total: 43.8ms	remaining: 1m 27s
100:	learn: 0.6396640	test: 0.6692399	best: 0.6692399 (100)	total: 4.76s	remaining: 1m 29s
200:	learn: 0.5728308	test: 0.6374043	best: 0.6374043 (200)	total: 9.34s	remaining: 1m 23s
300:	learn: 0.5289884	test: 0.6270924	best: 0.6270220 (298)	total: 13.6s	remaining: 1m 16s
400:	learn: 0.4924228	test: 0.6225443	best: 0.6225443 (400)	total: 19.3s	remaining: 1m 16s
500:	learn: 0.4618454	test: 0.6195590	best: 0.6195590 (500)	total: 23.9s	remaining: 1m 11s
600:	learn: 0.4338957	test: 0.6173124	best: 0.6170754 (583)	total: 28.3s	remaining: 1m 5s
700:	learn: 0.4095801	test: 0.6152746	best: 0.6152746 (700)	total: 32.7s	remaining: 1m
800:	learn: 0.3869041	test: 0.6131098	best: 0.6131098 (800)	total: 36.6s	remaining: 54.8s
900:	learn: 0.3664552	test: 0.6121349	best: 0.6121349 (900)	total: 40.4s	remaining: 49.3s
1000:	learn: 0.3480409	test: 0.6114497	best: 0.6114497 (1000)	total: 45.1s	remaining: 45s
1100:	learn: 0.3312031	test: 0.6106438	best: 0.6106438 (1100)	total: 49.4s	remaining: 40.3s
1200:	learn: 0.3152815	test: 0.6104434	best: 0.6104434 (1200)	total: 54.3s	remaining: 36.1s
1300:	learn: 0.3004906	test: 0.6099091	best: 0.6098273 (1296)	total: 59.4s	remaining: 31.9s
1400:	learn: 0.2866824	test: 0.6100989	best: 0.6098273 (1296)	total: 1m 4s	remaining: 27.5s
1500:	learn: 0.2734400	test: 0.6097723	best: 0.6097594 (1480)	total: 1m 9s	remaining: 23.1s
1600:	learn: 0.2609425	test: 0.6092817	best: 0.6092779 (1598)	total: 1m 15s	remaining: 18.7s
1700:	learn: 0.2494722	test: 0.6089228	best: 0.6088229 (1686)	total: 1m 20s	remaining: 14.2s
1800:	learn: 0.2387714	test: 0.6086078	best: 0.6086078 (1800)	total: 1m 27s	remaining: 9.63s
1900:	learn: 0.2284241	test: 0.6081692	best: 0.6081508 (1895)	total: 1m 32s	remaining: 4.81s
1999:	learn: 0.2188356	test: 0.6080556	best: 0.6080556 (1999)	total: 1m 38s	remaining: 0us

bestTest = 0.6080556309
bestIteration = 1999

In [56]:

preds_class = model.predict(test_pool)
accuracy = accuracy_score(list(y_test), [int(a) for a in preds_class])
# dft["score"]  = preds_class
# dft[["essay_id", "score"]].to_csv("../data/submission.csv", index=False)
accuracy

0.4560947429231658