In [15]:
import dask.dataframe as dd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [16]:
train_df = dd.read_csv('data/train.csv')
test_df = dd.read_csv('data/test.csv')

In [18]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [26]:
train_df.fare_amount.sum().compute()

628786173.74

In [20]:
train_df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 8 entries, key to passenger_count
dtypes: object(2), float64(5), int64(1)

In [21]:
train_df[['Pclass', 'Sex', 'Survived']].groupby(['Pclass', 'Sex'], as_index= False).mean()

KeyError: "['Pclass' 'Sex' 'Survived'] not in index"